.cont {
	width: 600px;
	margin: 0 auto;
	height: 600px;
	text-align: center;
	vertical-align: center;
}

.carousel {
	width: 100%;
	height: 300px;
}

.active {

}

.inactive{
	display: none;
}

.content {
	list-style: none;
	margin: 0 auto;
	height: 100%;
	padding: 0px;
}

.slide {
	height: 100%;
}

.nav-btn {

}

.right {
	float: right;
}

.left {
	float: left;
}

.clearfix {
	overflow: auto;
}